.nav{
    width: 240px;
    height: 100%;
    position: fixed;
    background-color: #18b5ef;
    padding: 20px;
}
body{
    padding: 0px;
    margin: 0px;
}
.nav h1{
    padding-top: 50px;
    font-size: 30px;
    color: white;
}
.row{
    margin-left: 300px;
    padding-top: 100px;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
    color: #f44336;
    padding-bottom: 0px;
    margin-bottom: 0px;
   
}
hr{
    width: 50px;
    height: 5px;
    float: left;
    background-color: #f44336;
    border: 1px solid #f44336;
}
.hr{
    overflow: hidden;
}
img{
    width: 49%;
    margin: .5%;
    float: left;
}
ul{
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-size: 22px;
}
a:hover{
    color: black;
    background-color: white;
}
.roww{
    float: left;
    margin-left: 300px;
    padding-top: 100px;
}
.rowww{
    float: left;
}



.card{
    width: 32%;
    float: left;
    background-color: rgb(198, 198, 199);
    margin: .5%;
}
.card img{
    width: 100%;
    height: 250px;
    
   

}
.text{
    padding: 10px;
}
h3{
    color: darkgrey;
}
video{
    width: 800px;
    height: 500px;
}
form{
    width: 50%;
    margin: auto;
    padding: 20px;
    float: left;

}
input{
    width:  190%;
    height: 50px;
    margin: 10px;
}
.submit{
    background-color: #36a2f4;
    color: white;
    width: 100%;
}
.submit :hover{
    color: black;
    background-color: #f1f1f1;
}

